<template>
	<div>
	<b-list-group>
		<b-list-group-item
				variant="success"
				v-for="(payment, index) in paymentsConfirm"
				:key="index"
				:class="{ active: ItemIndex === index }"
				@click="unsuccessPayment(index);"
		>{{index + 1}}. {{payment}}</b-list-group-item>
	</b-list-group>
	<b-table striped hover :items="items"></b-table>
	</div>
</template>
<script>
export default {
	name: 'PaymentsConfirm',
    props: ['payments-confirm'],
	data(){
		return{
			ItemIndex: '',
            items: this.paymentsConfirm
		}
	},
    methods: {
        unsuccessPayment(index){
            this.$emit('unsuccess-payment', index);
        },
		active(index){
            this.ItemIndex = index;
		}
    }
}
</script>

<style scoped>
	.list-group-item{
		text-align: left;
		cursor: pointer;
	}
</style>
