<template>
	<div>
        <b-row>
            <b-col md="9" class="my-1">
                <b-form-group label-cols="12" label-size="sm" label="Filter" class="mb-0 text-left">
                    <b-input-group>
                        <b-form-input v-model="filter" size="sm" placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" size="sm" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>
            <b-col md="3    " class="my-1">
                <b-form-group label-cols="12" label-size="sm" label="Выводить по:" class="mb-0 text-left">
                    <b-form-select v-model="perPage" size="sm" :options="pageOptions"></b-form-select>
                </b-form-group>
            </b-col>
            <b-col md="12" class="my-1">
                <b-form-group label-cols="12" label-size="sm" label="Выбрать дату:" class="mb-0 text-left">

                </b-form-group>
            </b-col>
        </b-row>

        <!-- Main table element -->
        <b-table
            show-empty
            stacked="md"
            :items="items"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            @filtered="onFiltered"

        >
            <template slot="actions" slot-scope="row">
                <b-button size="sm" @click="row.toggleDetails">
                    {{ row.detailsShowing ? 'Скрыть' : 'Показать' }}
                </b-button>
            </template>

            <template slot="row-details" slot-scope="row">
                <b-form-textarea
                    class="comments-pay"
                    placeholder="Введите комметарий к платежу..."
                    v-model="row.item.payComments"
                ></b-form-textarea>
                <div class="text-right my-1">
                    <b-button variant="outline-success" size="sm" @click="successPayment(row.index)">Подтвердить оплату</b-button>
                </div>
            </template>
        </b-table>

        <b-row>
            <b-col md="6" class="my-1">
                <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        class="my-0"
                ></b-pagination>
            </b-col>
        </b-row>
	</div>
</template>
<script>
export default {
	name: 'Payments',
    props: ['payments'],
	data(){
		return{
            //commentsPayMessage: '',
            items: this.payments,
            fields: [
                { key: 'card', label: 'Карта', sortable: true, class: 'text-left'},
                { key: 'description', label: 'Описание', sortable: true, class: 'text-center' },
                { key: 'price', label: 'Оплата', sortable: true },
                { key: 'trandate', label: 'Дата', sortable: true },
                { key: 'trantime', label: 'Время' },
                { key: 'actions', label: 'Комментарий' }
            ],
            totalRows: 1,
            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15],
            filter: null
		}
	},
    computed: {

    },
    beforeUpdate() {
        // Set the initial number of items
        this.totalRows = this.payments.length;
    },
    methods: {
        successPayment(index){
            let len = this.items[index].payComments;
            if(len.length){
                this.$emit('success-payment', index);
            }
        },
        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length;
            this.currentPage = 1
        },
    }
}
</script>

<style>
    .table th[aria-colindex="1"]{
        padding-right: 5px;
        white-space: nowrap;
    }
    .table td[data-label="Оплата"],
    .table td[data-label="Дата"]{
        white-space: nowrap;
    }
    .table td[data-label="Описание"]{
        font-size: 11px;
    }
    .table th,
    .table td {
        vertical-align: middle;
        font-size: 14px;
        outline: none;
    }
</style>
<style scoped>
    .comments-pay{
        min-height: 90px;
        max-height: 200px;
    }
	.comment-error{
		border-color: red;
	}
</style>
