<template>
	<div id="app">
        <b-container fluid>
			<b-row>
				<b-col cols="6">
					<h2>Оплати</h2>
					<Payments :payments="payments" @success-payment="successPayment"/>
				</b-col>
				<b-col cols="6">
					<h2>Підтверджені оплати</h2>
					<PaymentsConfirm :payments-confirm="paymentsConfirm" @unsuccess-payment="unsuccessPayment"/>
				</b-col>
			</b-row>
        </b-container>
	</div>
</template>

<script>
    import 'bootstrap/dist/css/bootstrap.css';
    import 'bootstrap-vue/dist/bootstrap-vue.css';

    import Payments from './components/Payments.vue';
    import PaymentsConfirm from './components/PaymentsConfirm.vue';

    //const axios = require('axios');
    //const convert = require('xml-js');

    export default {
        name: 'app',
        data() {
            return {
                payments: [],
                paymentsConfirm: [],
                jsonArr: `{
                  "_declaration": {
                    "_attributes": {
                      "version": "1.0",
                      "encoding": "UTF-8"
                    }
                  },
                  "response": {
                    "_attributes": {
                      "version": "1.0"
                    },
                    "merchant": {
                      "id": {
                        "_text": "144418"
                      },
                      "signature": {
                        "_text": "467a587ac64ac1c137c8336430af14f7164466f4"
                      }
                    },
                    "data": {
                      "oper": {
                        "_text": "cmt"
                      },
                      "info": {
                        "statements": {
                          "_attributes": {
                            "status": "excellent",
                            "credit": "50.0",
                            "debet": "20.0"
                          },
                          "statement": [
                            {
                              "_attributes": {
                                "card": "4149629384369468",
                                "appcode": "864001",
                                "trandate": "2019-07-03",
                                "trantime": "15:18:00",
                                "amount": "50.00 UAH",
                                "cardamount": "50.00 UAH",
                                "rest": "20.10 UAH",
                                "terminal": "PrivatBank, CS980400",
                                "description": "Перевод со своей карты 51**08 через приложение Приват24"
                              }
                            },
                            {
                              "_attributes": {
                                "card": "4149629384369468",
                                "appcode": "864001",
                                "trandate": "2019-07-03",
                                "trantime": "15:18:00",
                                "amount": "50.00 UAH",
                                "cardamount": "50.00 UAH",
                                "rest": "20.10 UAH",
                                "terminal": "PrivatBank, CS980400",
                                "description": "Перевод со своей карты 51**08 через приложение Приват24"
                              }
                            },
                            {
                              "_attributes": {
                                "card": "4149625810721371",
                                "appcode": "949086",
                                "trandate": "2019-07-03",
                                "trantime": "01:41:00",
                                "amount": "20.00 UAH",
                                "cardamount": "-20.00 UAH",
                                "rest": "-29.90 UAH",
                                "terminal": "PrivatBank, CP980O48",
                                "description": "Ежемесячный платеж за страховку «Защита на каждый день»"
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }`,
            };
        },
        methods: {
            successPayment(index) {
                this.paymentsConfirm.push(this.payments[index]);
                this.payments.splice(index, 1);
            },
            unsuccessPayment(index) {
                this.payments.push(this.paymentsConfirm[index]);
                this.paymentsConfirm.splice(index, 1);
            },
            merchant() {
                //Hosting
                //let vm = this;
                // axios.get('privat.php')
                //     .then(function (response) {
                //         let jsonStr = convert.xml2json(response.data, {compact: true, spaces: 4});
                //         jsonStr = JSON.parse(jsonStr);
                //         jsonStr.response.data.info.statements.statement.forEach((item) =>{
                //             let user             = {};
                //             //user.amount      = item._attributes.amount;
                //             //user.appcode     = item._attributes.appcode;
                //             user.card        = `**${item._attributes.card.slice(12)}`;
                //             //user.cardamount  = item._attributes.cardamount;
                //             user.description = item._attributes.description;
                //             //user.rest        = item._attributes.rest;
                //             //user.terminal    = item._attributes.terminal;
                //             user.trandate    = item._attributes.trandate;
                //             user.trantime    = item._attributes.trantime;
                //             user.price       = item._attributes.amount;
                //
                //             vm.payments.push(user);
                //         });
                //     })
                //     .catch(function (error) {
                //         console.log(error);
                //     });

                // Local
                let jsonStr = JSON.parse(this.jsonArr);
                jsonStr.response.data.info.statements.statement.forEach((item) =>{
                    let user             = {};
                    //user.amount      = item._attributes.amount;
                    //user.appcode     = item._attributes.appcode;
                    user.card        = `**${item._attributes.card.slice(12)}`;
                    //user.cardamount  = item._attributes.cardamount;
                    user.description = item._attributes.description;
                    //user.rest        = item._attributes.rest;
                    //user.terminal    = item._attributes.terminal;
                    user.trandate    = item._attributes.trandate;
                    user.trantime    = item._attributes.trantime;
                    user.price       = item._attributes.amount;
                    user.payComments = '';

                    this.payments.push(user);
                });
            },
        },
        mounted() {
            this.merchant();
        },
        components: {
            Payments,
            PaymentsConfirm
        }
    };
</script>

<style>
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
	}
</style>

